Source: iscan
Section: unknown
Priority: extra
Maintainer: Bob Zimmermann <rpz@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: iscan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
